body {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}

h1, h2, .skills-list {
  font-family: 'DM Serif Display', serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 100px;
  line-height: 110%;
}

h2 {
  font-size: 40px;
  line-height: 130%;
  margin-top: 30px;
}

h1, h2 {
  font-weight: normal;
}

.date {
  font-weight: normal;
  font-size: 30px;
  margin: 10px 0;
}

p {
  line-height: 150%;
}

img {
  /* this is limiting the width of img so that it takes 100% width of the parent */
  max-width: 100%;
}

nav {
  background-color: #F4F3EE;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  padding-inline-start: 0px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
    text-decoration: underline;
}

li.empty {
  width: 80px;
  border-top: 1px solid black;
  top: -5px;
  position: relative;
}

header {
  background-color: #F4F3EE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -180px;
  top: 60px;
  position: relative;
  padding: 20px;
  margin-bottom: 150px;
}

.subheader {
  margin-bottom: 30px;
}

.subheader h1 {
  font-size: 70px;
  text-align: center;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.blue {
  background-color: #F4F3EE;
  padding: 60px;
  margin: 20px 0;
}

.interests {
  background-color: #F4F3EE;
  padding-bottom: 30px;
}

.portrait {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}


figcaption {
  font-size: 12px;
    margin-top: 10px;
}

ul li {
  list-style: none;
margin: 10px 0;
}

.button {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 10px 30px;
      margin-top: 25px;
      display: inline-block;
      border-radius: 30px;
      transition: background 1s ease-in-out, color 1s ease-in-out;
}

.button:hover {
  background: black;
  color: white;
}

.project .button {
  margin-top: 10px;
}

.skills-list {
  text-align: center;
  font-size: 50px;
  line-height: 150%;
}

/* .right-alignment {
  text-align: right;
} */

.before-college h2 {
  font-size: 28px;
}

footer {
  text-align: center;
  margin: 70px;
  padding-bottom: 50px;
}

footer h2 {
  margin-bottom: 80px;
  font-size: 50px;
}

#contact {
  margin-bottom: -20px;
}
